[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  font-family: Poppins;
}

.content {
  visibility: hidden;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  text-align: center;
  opacity: 0;
}

.content > * {
  width: 100%;
}

body.key-pressed {
  .content {
    visibility: visible;
  }
  .content {
    opacity: 1;
  }
  .press-any-key {
    visibility: hidden;
  }
  .press-any-key {
    opacity: 0;
  }
}

.press-any-key {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  .card {
    display: flex;
  }
  .card {
    width: 400px;
  }
  .card {
    align-items: center;
  }
  .card {
    justify-content: center;
  }
  .card {
    border-radius: 0.25rem;
  }
  .card {
    border-top-width: 4px;
    border-bottom-width: 4px;
  }
  .card {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
  }
  .card {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .card {
    padding: 1rem;
  }
}

h1 {
  font-size: 1.563rem;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(38 45 61 / var(--tw-text-opacity));
}

.keycode-title {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 7.451rem;
  font-weight: 700;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction) !important;
}

.data-card {
  display: flex;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 0.25rem;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: rgb(255 255 255 / 0.1);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-duration: 150ms;
}

.data-card:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-card {
  header {
    display: flex;
  }
  header {
    width: 100%;
  }
  header {
    align-items: center;
  }
  header {
    justify-content: center;
  }
  header {
    --tw-bg-opacity: 1;
    background-color: rgb(32 78 207 / var(--tw-bg-opacity));
  }
  header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header {
    font-size: 0.8rem;
  }
  header {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  main {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .wrapper {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .wrapper {
    max-width: 1536px;
  }
}

.wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.copyright {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.copy {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}
